# ------------------------------------------------------------------------------
# Frontend (Vite) Environment Variables (Production: suporter.tirenn.web.id)
# ------------------------------------------------------------------------------
PORT=7080
VITE_BACKEND_URL=
VITE_RECAPTCHA_SITE_KEY=
VITE_GA_MEASUREMENT_ID=
